//components
@import url('./components/atoms/Button/Button.scss');
@import url('./components/molecules/ButtonGroup/ButtonGroup.scss');
@import url('./components/organisms/CustomCard/CustomCard.scss');

// pages
@import url('./pages/Home/Home.scss');
@import url('./pages/NotFound/NotFound.scss');
@import url('./pages/Todos/Todos.scss');